@model Model.Entities.BanUser
@{
    ViewBag.Title = "BanMessage";
}
<div class="col-lg-7 col-lg-offset-3">
    <div class="well bs-component">
        @Yevhenii_KoliesnikTask1.App_LocalResources.GlobalRes.BanMessage : @Html.DisplayFor(model => model.LastBan)
    </div>
</div>
