@model BusinessLogicLayer.ViewModel.GamesViewModel 
<div class="" style="border-bottom: 1px solid black; padding-bottom: 16px; height: 86px;">
    <h3 style="float: left;">@Yevhenii_KoliesnikTask1.App_LocalResources.GlobalRes.Most</h3>
    @Html.EditorFor(a => a.Filters.FilterType, "EnumTemplate", "Filters.FilterType")
</div>
