@{
    ViewBag.Title = "FinishPayment";
}

<h2>@Yevhenii_KoliesnikTask1.App_LocalResources.GlobalRes.PaymentSucessfull</h2>

@Html.ActionLink(@Yevhenii_KoliesnikTask1.App_LocalResources.GlobalRes.Games, "AllGames", "Game")