<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation
        debug="true">
    </compilation>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WCFService.PaymentService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8085/PaymentService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding"
            bindingConfiguration="" contract="WCFService.IPaymentService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>